// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 50px;
}

li {
  display: inline;
  background-color: green;
  padding: 10px;
  font-size: 20px;
}
